{{ header }}
<style>
  header{
    position: fixed;
  }
</style>

  <!-- Page Title -->
  <section class="page-title-image">
            <div class="page_image overflow-hidden">
                <img class="lazyload ani-zoom" src="assets/images/section/about-us.jpg" data-src="assets/images/section/about-us.jpg" alt="Banner">
            </div>
            <div class="page_content">
                <div class="container">
                    <div class="content">
                        <h1 class="heading fw-bold">
                            WE PRIORITIZE SUSTAINABLE & <br class="d-none d-sm-block">
                            ENVIRONMENTALLY FRIENDLY <br class="d-none d-sm-block">
                            DEVELOPMENT
                        </h1>
                        <a href="shop-default.html" class="tf-btn animate-btn">
                            Our shop
                            <i class="icon icon-caret-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- /Page Title -->
        <!-- Hero Section -->
        <section class="s-intro flat-spacing">
            <div class="container">
                <p class="brand-name">Ochaka. Store</p>
                <div class="box-intro">
                    <h4 class="slogan fw-normal">FASHION STYLE IN EVERY BREATH</h4>
                    <p class="intro-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris magna augue, interdum et placerat in, pharetra nec massa.
                        Nulla
                        facilisis nisi tellus, ut porttitor lacus rutrum et. Nam fermentum est sit amet nisl ornare pellentesque. Cras cursus aliquet
                        ex
                        iaculis dignissim. Vestibulum suscipit vel lacus in rhoncus.
                    </p>
                </div>
            </div>
        </section>
        <!-- /Hero Section -->
        <!-- About -->
        <section class="s-about">
            <div class="container">
                <div class="tf-grid-layout tf-col-2 md-col-3 xl-col-4">
                    <div class="item_2 image d-none d-md-block">
                        <img class="lazyload" src="assets/images/section/gallery-modal-2.jpg" data-src="assets/images/section/gallery-modal-2.jpg" alt="Modal 2">
                    </div>
                    <div class="wd-2-cols">
                        <div class="content-blog text-md-start">
                            <div class="d-md-inline-flex">
                                <div class="wg-curve-text">
                                    <span class="icon">
                                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M25.0001 8V21C25.0001 21.2652 24.8947 21.5196 24.7072 21.7071C24.5196 21.8946 24.2653 22 24.0001 22C23.7349 22 23.4805 21.8946 23.293 21.7071C23.1054 21.5196 23.0001 21.2652 23.0001 21V10.4137L8.70757 24.7075C8.51993 24.8951 8.26543 25.0006 8.00007 25.0006C7.7347 25.0006 7.48021 24.8951 7.29257 24.7075C7.10493 24.5199 6.99951 24.2654 6.99951 24C6.99951 23.7346 7.10493 23.4801 7.29257 23.2925L21.5863 9H11.0001C10.7349 9 10.4805 8.89464 10.293 8.70711C10.1054 8.51957 10.0001 8.26522 10.0001 8C10.0001 7.73478 10.1054 7.48043 10.293 7.29289C10.4805 7.10536 10.7349 7 11.0001 7H24.0001C24.2653 7 24.5196 7.10536 24.7072 7.29289C24.8947 7.48043 25.0001 7.73478 25.0001 8Z"
                                                fill="black" />
                                        </svg>

                                    </span>
                                    <div class="text-rotate" data-text="Ochaka Store Fashion Style">
                                        <div class="circle">
                                            <div class="text" id="circularText"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box-intro">
                                <h4 class="slogan fw-normal">FIRST STORE IN A RURAL AREA OF DENMARK</h4>
                                <p class="intro-text">
                                    Morbi finibus erat ullamcorper malesuada placerat. Integer malesuada orci sed nulla scelerisque fermentum.
                                    Suspendisse lacinia elit at bibendum tincidunt.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="item_1 image">
                        <img class="lazyload" src="assets/images/section/gallery-modal-1.jpg" data-src="assets/images/section/gallery-modal-1.jpg" alt="Modal 1">
                    </div>
                    <div class="d-md-none d-xl-block">
                        <img class="lazyload d-md-none" src="assets/images/section/gallery-modal-2.jpg" data-src="assets/images/section/gallery-modal-2.jpg"
                            alt="Modal 2">
                    </div>
                    <div class="item_3 image">
                        <img class="lazyload" src="assets/images/section/gallery-modal-3.jpg" data-src="assets/images/section/gallery-modal-3.jpg" alt="Modal 3">
                    </div>
                    <div class="item_4 image">
                        <img class="lazyload" src="assets/images/section/gallery-modal-4.jpg" data-src="assets/images/section/gallery-modal-4.jpg" alt="Modal 4">
                    </div>
                </div>
            </div>
        </section>
        <!-- /About -->
        <!-- Brand Story -->
        <section class="flat-spacing">
            <div class="container">
                <div class="sect-title text-center">
                    <h1 class="s-title mb-8">Brand Story</h1>
                    <p class="s-subtitle h6">Up to 50% off Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
                <div class="box-intro has-mb text-center">
                    <h4 class="slogan fw-normal">WE PRIORITIZE SUSTAINABLE AND ENVIRONMENTALLY FRIENDLY DEVELOPMENT.</h4>
                    <p class="intro-text">
                        Morbi finibus erat ullamcorper malesuada placerat. Integer malesuada orci sed nulla scelerisque fermentum. Suspendisse lacinia
                        elit <br class="d-none d-xxl-block">
                        at bibendum tincidunt.
                    </p>
                </div>
                <div dir="ltr" class="swiper tf-swiper" data-preview="3" data-tablet="2" data-mobile-sm="2" data-mobile="1" data-space-lg="48"
                    data-space-md="15" data-space="10" data-pagination="1" data-pagination-sm="1" data-pagination-md="2" data-pagination-lg="3">
                    <div class="swiper-wrapper">
                        <!-- item 1 -->
                        <div class="swiper-slide">
                            <div class="wg-icon-image hover-img">
                                <div class="image img-style">
                                    <img class="lazyload" src="assets/images/section/story-1.jpg" data-src="assets/images/section/story-1.jpg" alt="">
                                </div>
                                <div class="box-icon">
                                    <span class="icon">
                                        <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <mask id="mask0_643_16068" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="56"
                                                height="56">
                                                <path d="M55.25 55.25V0.75H0.75V55.25H55.25Z" fill="white" stroke="white" stroke-width="1.5" />
                                            </mask>
                                            <g mask="url(#mask0_643_16068)">
                                                <path
                                                    d="M51.6682 33.5091H18.0508M30.7811 44.2344C29.205 44.2344 27.9274 42.9568 27.9274 41.3807C27.9274 39.8047 29.205 38.5271 30.7811 38.5271C32.3571 38.5271 33.6348 39.8047 33.6348 41.3807C33.6348 42.9568 32.3571 44.2344 30.7811 44.2344Z"
                                                    stroke="black" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                                <path
                                                    d="M38.5503 20.3796V6.41859H31.1682V20.3796C23.353 22.0814 17.498 29.0756 17.498 37.4452C17.498 47.0887 25.2709 54.9062 34.8593 54.9062C44.4476 54.9062 52.2205 47.0887 52.2205 37.4452C52.2205 29.0756 46.3655 22.0814 38.5503 20.3796Z"
                                                    stroke="black" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                                <path
                                                    d="M41.1696 6.41797H28.5486V1.09328H41.1696V6.41797ZM21.0637 6.41797H3.7793V1.09328H21.0637V6.41797Z"
                                                    stroke="black" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                                <path
                                                    d="M12.4262 54.9062H12.416C9.61524 54.9062 7.34473 52.6357 7.34473 49.8349V6.4186H17.4975V49.8349C17.4975 52.6357 15.227 54.9062 12.4262 54.9062Z"
                                                    stroke="black" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                                <path d="M7.79785 15.5742H17.2367" stroke="black" stroke-width="1.5" stroke-miterlimit="10"
                                                    stroke-linecap="round" stroke-linejoin="round" />
                                                <path d="M7.79785 24.625H10.5066" stroke="black" stroke-width="1.5" stroke-miterlimit="10"
                                                    stroke-linecap="round" stroke-linejoin="round" />
                                                <path d="M7.79785 31.5859H10.5066" stroke="black" stroke-width="1.5" stroke-miterlimit="10"
                                                    stroke-linecap="round" stroke-linejoin="round" />
                                                <path d="M7.79785 38.5508H10.5066" stroke="black" stroke-width="1.5" stroke-miterlimit="10"
                                                    stroke-linecap="round" stroke-linejoin="round" />
                                                <path d="M7.79785 45.5117H10.5066" stroke="black" stroke-width="1.5" stroke-miterlimit="10"
                                                    stroke-linecap="round" stroke-linejoin="round" />
                                                <path
                                                    d="M46.9992 15.5766C46.9992 16.6087 46.1626 17.4453 45.1304 17.4453C44.0984 17.4453 43.2617 16.6087 43.2617 15.5766C43.2617 14.5446 44.0984 13.708 45.1304 13.708C46.1626 13.708 46.9992 14.5446 46.9992 15.5766Z"
                                                    stroke="black" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                            </g>
                                        </svg>
                                    </span>
                                    <div class="content">
                                        <h3 class="caption fw-normal">No harmful chemicals</h3>
                                        <p class="sub-text">Morbi finibus erat ullamcorper malesuada</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- item 2 -->
                        <div class="swiper-slide">
                            <div class="wg-icon-image hover-img">
                                <div class="image img-style">
                                    <img class="lazyload" src="assets/images/section/story-2.jpg" data-src="assets/images/section/story-2.jpg" alt="">
                                </div>
                                <div class="box-icon">
                                    <span class="icon">
                                        <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <mask id="mask0_643_16092" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="56"
                                                height="56">
                                                <path d="M55.25 55.25V0.75H0.75V55.25H55.25Z" fill="white" stroke="white" stroke-width="1.5" />
                                            </mask>
                                            <g mask="url(#mask0_643_16092)">
                                                <path d="M19.6885 1.09373H36.3093L28.0005 11.0117L19.6885 1.09373Z" stroke="black" stroke-width="1.5"
                                                    stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                                <path d="M19.6884 1.09251L16.2471 6.05309L22.6772 15.3633L28.0005 11.0105" stroke="black"
                                                    stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                                <path d="M36.3089 1.09251L39.7502 6.05309L33.3233 15.3633L28 11.0105" stroke="black"
                                                    stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                                <path
                                                    d="M9.28058 18.6541C10.527 21.032 11.0447 24.4114 11.0447 26.9939V54.9062H44.956V26.9939C44.956 24.4114 45.4739 21.032 46.7201 18.6541M16.247 6.05438L9.46662 9.46173C2.42585 12.9991 1.37793 22.3559 1.37793 31.7716H11.0447M39.7505 6.05438L46.5311 9.46173C53.5719 12.9991 54.6228 22.3559 54.6228 31.7716H44.956"
                                                    stroke="black" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                                <path d="M27.9941 23.4883H28.0004" stroke="black" stroke-width="1.5" stroke-miterlimit="10"
                                                    stroke-linecap="round" stroke-linejoin="round" />
                                                <path d="M27.9941 17.25H28.0004" stroke="black" stroke-width="1.5" stroke-miterlimit="10"
                                                    stroke-linecap="round" stroke-linejoin="round" />
                                                <path d="M11.0442 26.9922H1.49219" stroke="black" stroke-width="1.5" stroke-miterlimit="10"
                                                    stroke-linecap="round" stroke-linejoin="round" />
                                                <path d="M44.9561 26.9922H54.5051" stroke="black" stroke-width="1.5" stroke-miterlimit="10"
                                                    stroke-linecap="round" stroke-linejoin="round" />
                                                <path d="M44.9562 50.1289H11.0449" stroke="black" stroke-width="1.5" stroke-miterlimit="10"
                                                    stroke-linecap="round" stroke-linejoin="round" />
                                            </g>
                                        </svg>
                                    </span>
                                    <div class="content">
                                        <h3 class="caption fw-normal">High-quality product</h3>
                                        <p class="sub-text">Morbi finibus erat ullamcorper malesuada</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- item 3 -->
                        <div class="swiper-slide">
                            <div class="wg-icon-image hover-img">
                                <div class="image img-style">
                                    <img class="lazyload" src="assets/images/section/story-3.jpg" data-src="assets/images/section/story-3.jpg" alt="">
                                </div>
                                <div class="box-icon">
                                    <span class="icon">
                                        <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <mask id="mask0_643_16111" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="56"
                                                height="56">
                                                <path d="M55.25 55.25V0.75H0.75V55.25H55.25Z" fill="white" stroke="white" stroke-width="1.5" />
                                            </mask>
                                            <g mask="url(#mask0_643_16111)">
                                                <path
                                                    d="M11.2432 50.3736L28.8294 52.4844C29.88 52.6111 32.1238 53.2218 34.7726 52.323L52.0644 46.4525C55.8145 44.9715 54.4284 40.1074 49.8461 40.8067L48.5738 41.0188L35.3043 43.5663L26.7343 43.6012M32.1903 43.579C35.3043 43.5663 36.6334 38.0945 30.8579 37.1769L24.4557 36.0249C23.0348 35.9268 21.1835 36.3793 18.8858 37.0629L11.2432 39.3352"
                                                    stroke="black" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                                <path
                                                    d="M11.2428 51.106V38.7606C11.2428 37.8966 10.5372 37.1878 9.67004 37.1878H2.66339C1.79944 37.1878 1.09375 37.8966 1.09375 38.7606V51.106C1.09375 51.97 1.79944 52.6758 2.66339 52.6758H9.67004C10.5372 52.6758 11.2428 51.97 11.2428 51.106Z"
                                                    stroke="black" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                                <path
                                                    d="M6.80859 6.9492C8.31184 21.8296 30.1387 22.7062 25.7967 13.4748C35.2655 6.48403 14.7045 -1.75364 6.80859 6.9492Z"
                                                    stroke="black" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                                <path d="M30.8572 23.3281C30.8572 17.0303 28.0406 13.3435 18.8535 10.3434" stroke="black"
                                                    stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                                <path
                                                    d="M54.9058 6.9492C53.4026 21.8296 31.5726 22.7062 35.9145 13.4748C26.4489 6.48403 47.0099 -1.75364 54.9058 6.9492Z"
                                                    stroke="black" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                                <path d="M30.8574 29.8555V23.3298C30.8574 17.0322 33.6739 13.3453 42.8611 10.3452" stroke="black"
                                                    stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                                <path d="M19.2783 36.9498C26.1362 24.3101 43.5452 30.1331 43.1021 42.0703" stroke="black"
                                                    stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                            </g>
                                        </svg>

                                    </span>
                                    <div class="content">
                                        <h3 class="caption fw-normal">Environmentally friendly</h3>
                                        <p class="sub-text">Morbi finibus erat ullamcorper malesuada</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sw-dot-default tf-sw-pagination"></div>
                </div>
            </div>
        </section>
        <!-- /Brand Story -->
        <!-- Customer Review -->
        <section class="flat-spacing pt-0">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <div class="flat-spacing pt-0">
                            <span class="br-line d-flex"></span>
                        </div>
                        <div class="sect-title text-center">
                            <h1 class="s-title mb-8">Customer Reviews</h1>
                            <p class="s-subtitle h6">Up to 50% off Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        </div>
                        <div class="slider-thumb-wrap">
                            <div dir="ltr" class="swiper tf-swiper slider-content-thumb">
                                <div class="swiper-wrapper">
                                    <!-- item 1 -->
                                    <div class="swiper-slide">
                                        <div class="testimonial-V05">
                                            <div class="tes_icon">
                                                <i class="icon icon-block-quote"></i>
                                            </div>
                                            <div class="tes_author">
                                                <p class="author-name h4">Brooklyn Simmons</p>
                                                <i class="author-verified icon-check-circle"></i>
                                            </div>
                                            <div class="rate_wrap">
                                                <i class="icon-star text-star"></i>
                                                <i class="icon-star text-star"></i>
                                                <i class="icon-star text-star"></i>
                                                <i class="icon-star text-star"></i>
                                                <i class="icon-star text-star"></i>
                                            </div>
                                            <p class="tes_text h4">
                                                “ Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce malesuada nulla a diam tempus mattis
                                                ut at
                                                odio. Nam pharetra et sapien posuere placerat. Sed vitae rhoncus nibh. Phasellus suscipit vitae lorem
                                                vel
                                                pretium “
                                            </p>
                                        </div>
                                    </div>
                                    <!-- item 2 -->
                                    <div class="swiper-slide">
                                        <div class="testimonial-V05">
                                            <div class="tes_icon">
                                                <i class="icon icon-block-quote"></i>
                                            </div>
                                            <div class="tes_author">
                                                <p class="author-name h4">Mas Shin</p>
                                                <i class="author-verified icon-check-circle"></i>
                                            </div>
                                            <div class="rate_wrap">
                                                <i class="icon-star text-star"></i>
                                                <i class="icon-star text-star"></i>
                                                <i class="icon-star text-star"></i>
                                                <i class="icon-star text-star"></i>
                                                <i class="icon-star text-star"></i>
                                            </div>
                                            <p class="tes_text h4">
                                                “Our experience with ACIS has been excellent. Their support team is always quick to respond and very
                                                professional. They handle all questions and issues with great care and efficiency, making them a
                                                reliable partner we truly appreciate.“
                                            </p>
                                        </div>
                                    </div>
                                    <!-- item 3 -->
                                    <div class="swiper-slide">
                                        <div class="testimonial-V05">
                                            <div class="tes_icon">
                                                <i class="icon icon-block-quote"></i>
                                            </div>
                                            <div class="tes_author">
                                                <p class="author-name h4">Sil Vox</p>
                                                <i class="author-verified icon-check-circle"></i>
                                            </div>
                                            <div class="rate_wrap">
                                                <i class="icon-star text-star"></i>
                                                <i class="icon-star text-star"></i>
                                                <i class="icon-star text-star"></i>
                                                <i class="icon-star text-star"></i>
                                                <i class="icon-star text-star"></i>
                                            </div>
                                            <p class="tes_text h4">
                                                “ACIS consistently provides fast, professional support whenever we need it. Their team is
                                                knowledgeable
                                                and always ready to help with any issue, big or small. We really appreciate their reliable
                                                partnership.“
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slider-btn-thumbs">
                                <!-- Btn 1 -->
                                <div class="btn-thumbs active">
                                    <img src="assets/images/avatar/avatar-1.jpg" alt="Avatar">
                                </div>
                                <!-- Btn 2 -->
                                <div class="btn-thumbs">
                                    <img src="assets/images/avatar/avatar-2.jpg" alt="Avatar">
                                </div>
                                <!-- Btn 3 -->
                                <div class="btn-thumbs">
                                    <img src="assets/images/avatar/avatar-3.jpg" alt="Avatar">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /Customer Review -->
        <!-- Gallery -->
        <section class="themesFlat">
            <div class="container">
                <div class="sect-title text-center">
                    <h1 class="s-title mb-8">Shop Instagram</h1>
                    <p class="s-subtitle h6">Up to 50% off Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
            </div>
            <div dir="ltr" class="swiper tf-swiper" data-preview="4" data-tablet="3" data-mobile-sm="2" data-mobile="2" data-space="0">
                <div class="swiper-wrapper">
                    <!-- item 1 -->
                    <div class="swiper-slide">
                        <div class="gallery-item hover-img hover-overlay">
                            <div class="image img-style">
                                <img class="lazyload" src="assets/images/gallery/about-1.jpg" data-src="assets/images/gallery/about-1.jpg" alt="">
                            </div>
                            <a href="product-detail.html" class="box-icon hover-tooltip">
                                <span class="icon icon-instagram-logo"></span>
                                <span class="tooltip">View product</span>
                            </a>
                        </div>
                    </div>
                    <!-- item 2 -->
                    <div class="swiper-slide">
                        <div class="gallery-item hover-img hover-overlay">
                            <div class="image img-style">
                                <img class="lazyload" src="assets/images/gallery/about-2.jpg" data-src="assets/images/gallery/about-2.jpg" alt="">
                            </div>
                            <a href="product-detail.html" class="box-icon hover-tooltip">
                                <span class="icon icon-instagram-logo"></span>
                                <span class="tooltip">View product</span>
                            </a>
                        </div>
                    </div>
                    <!-- item 3 -->
                    <div class="swiper-slide">
                        <div class="gallery-item hover-img hover-overlay">
                            <div class="image img-style">
                                <img class="lazyload" src="assets/images/gallery/about-3.jpg" data-src="assets/images/gallery/about-3.jpg" alt="">
                            </div>
                            <a href="product-detail.html" class="box-icon hover-tooltip">
                                <span class="icon icon-instagram-logo"></span>
                                <span class="tooltip">View product</span>
                            </a>
                        </div>
                    </div>
                    <!-- item 4 -->
                    <div class="swiper-slide">
                        <div class="gallery-item hover-img hover-overlay">
                            <div class="image img-style">
                                <img class="lazyload" src="assets/images/gallery/about-4.jpg" data-src="assets/images/gallery/about-4.jpg" alt="">
                            </div>
                            <a href="product-detail.html" class="box-icon hover-tooltip">
                                <span class="icon icon-instagram-logo"></span>
                                <span class="tooltip">View product</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /Gallery -->
      



{{ footer }}