<div class="sub-menu mega-menu">
                        <div class="container">
                           <div class="row">
                              <div class="col-2">
                                 <div class="mega-menu-item">
                                    <h4 class="menu-heading">Jewelry</h4>
                                    <ul class="sub-menu_list">
                                    {% for category in categories %}
                                      {% if category.name == 'Jewelry' and category.children %}
                                        {% for child in category.children %}
                                          <li class="sub-menu_link">
                                            <a href="{{ child.href }}" class="dropdown-item">{{ child.name }}</a>
                                          </li>
                                        {% endfor %}
                                      {% endif %}
                                    {% endfor %}
                                    </ul>
                                 </div>
                              </div>
                              <div class="col-2">
                                 <div class="mega-menu-item">
                                    <h4 class="menu-heading">Collections</h4>
                                    <ul class="sub-menu_list">
                                    {% for category in categories %}
                                      {% if category.name == 'Collections' and category.children %}
                                        {% for child in category.children %}
                                          <li class="sub-menu_link">
                                            <a href="{{ child.href }}" class="dropdown-item">{{ child.name }}</a>
                                          </li>
                                        {% endfor %}
                                      {% endif %}
                                    {% endfor %}
                                    </ul>
                                 </div>
                              </div>
                              <div class="col-2">
                                 <div class="mega-menu-item">
                                    <h4 class="menu-heading">Watches</h4>
                                    <ul class="sub-menu_list">
                                       <li><a href="index.php?route=product/category&language=en-gb&path=59" class="sub-menu_link">Shop All</a></li>
                                    </ul>
                                 </div>
                              </div>
                              <div class="col-6">
                                 <ul class="list-hor">
                                    <li class="wg-cls hover-img">
                                       <a href="shop-default.html" class="image img-style">
                                       <img src="assets/images/collections/cls-header-1.jpg"
                                          data-src="assets/images/collections/cls-header-1.jpg" alt="Collection" class="lazyload">
                                       </a>
                                       <div class="cls-content">
                                          <h4 class="tag_cls">Bangle</h4>
                                          <span class="br-line type-vertical"></span>
                                          <a href="index.php?route=product/category&language=en-gb&path=61_69" class="tf-btn-line"> Shop now </a>
                                       </div>
                                    </li>
                                    <li class="wg-cls hover-img">
                                       <a href="shop-default.html" class="image img-style">
                                       <img src="assets/images/collections/cls-header-2.jpg"
                                          data-src="assets/images/collections/cls-header-2.jpg" alt="Collection" class="lazyload">
                                       </a>
                                       <div class="cls-content">
                                          <h4 class="tag_cls">Necklace</h4>
                                          <span class="br-line type-vertical"></span>
                                          <a href="index.php?route=product/category&language=en-gb&path=61_69" class="tf-btn-line"> Shop now </a>
                                       </div>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </div>
              




