{{ header }}

  <!-- Page Title -->
  <section class="s-page-title">
            <div class="container">
                <div class="content">
                    <h1 class="title-page">Contact Us</h1>
                </div>
            </div>
        </section>
        <!-- /Page Title -->
        <!-- Contact Us -->
        <section class="s-contact-us flat-spacing">
          
            <div class="container">
                <div class="row">
                    <div class="col-xxl-5 offset-xxl-1 col-lg-6">
                        <div class="left-col mb-lg-0">
                            <ul class="store-info-list">
                                <li>
                                    <p class="h6 text-black fw-medium">Email:</p>
                                    <a href="mailto:info@zaynjewels.com" class="link text-main">info@zaynjewels.com</a>
                                </li>
                                <br /><br />
                                <li>
                                    <p class="h6 text-black fw-medium">Phone:</p>
                                    <a href="tel:+19499006910" class="link text-main">+1 (949) 900-6910</a>
                                </li>
                            </ul><br /><br />
                            <ul class="tf-social-icon">
                                <li>
                                    <a href="https://www.facebook.com/" target="_blank" class="social-facebook">
                                        <span class="icon"><i class="icon-fb"></i></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/" target="_blank" class="social-instagram">
                                        <span class="icon"><i class="icon-instagram-logo"></i></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://x.com/" target="_blank" class="social-x">
                                        <span class="icon"><i class="icon-x"></i></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.tiktok.com/" target="_blank" class="social-tiktok">
                                        <span class="icon"><i class="icon-tiktok"></i></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-6">
                        <div class="right-col">
                            <form class="form-contact style-border">
                                <div class="form-content">
                                    <div class="cols tf-grid-layout sm-col-2">
                                        <fieldset>
                                            <input id="name" type="text" placeholder="Name *" required>
                                        </fieldset>
                                        <fieldset>
                                            <input id="email" type="email" placeholder="Email *" required>
                                        </fieldset>
                                    </div>
                                    <br />
                                    <div class="cols tf-grid-layout sm-col-2">
                                        <fieldset>
                                            <input id="name" type="text" placeholder="Phone Number *" required>
                                        </fieldset>
                                        <fieldset>
                                            <input id="email" type="email" placeholder="Subject *" required>
                                        </fieldset>
                                    </div>
                                 <br />
                                    <textarea id="desc" placeholder="Message" style="height: 229px;" required></textarea>
                                </div>
                                <div class="form_message text-center"></div>
                            <br />
                                <button type="submit" class="tf-btn btn-fill animate-btn w-100">
                                    SEND
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /Contact Us -->
   


{{ footer }}
