{{ header }}
<style>
  p {
   line-height: 2.5;
   font-size: 18px;
  }
  h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
</style>
<!-- Page Title -->
<section class="s-page-title">
            <div class="container">
                <div class="content">
                    <h1 class="title-page">{{ heading_title }}</h1>
                </div>
            </div>
        </section>
        <section class="">
          <br />
          <div class="container">
              <div class="row">
                <div class="col-10 offset-1">
                  <div class="left-col mb-lg-0">
                    {{ description }}
                  </div>
                </div>
              </div>
            </div>
          </section>


       <br />
       
{{ footer }}